<div class="container content">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <span class="anchor" id="formLogin"></span>
      <!-- form	card	login	with	validation	feedback	-->
      <div class="card card-outline-secondary  bg-danger">
        <div class="card-header">
          <h3 class="mb-0">Pokemons</h3>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group text-white">
              <label>Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre del pokemon..."
                #nombre />
            </div>
            <div class="form-group text-white">
              <label>Tipo</label>
              <input type="text" class="form-control" id="tipo" placeholder="Ingresar el tipo de pokemon..." #tipo />
            </div>
            <div class="form-group text-white">
              <label>Descripcion</label>
              <input type="text" class="form-control" id="descripcion"
                placeholder="Ingresa una breve descripcion del pokemon..." #descripcion />
            </div>
            <button type="submit" class="btn btn-primary"
              (click)="guardar(nombre.value, tipo.value, descripcion.value)">
              Guardar!
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="mb-5" />
  <div class="row">
    <pokemon-card *ngFor="let pokemon of pokemons; let i=index" [pokemon]="pokemon" (clicked)="elegido(pokemon)" [position]="i+1"></pokemon-card>
  </div>
</div>