<div
   class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-warning"
    >
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0">{{ pokemon.nombre }}</h3>
      <div class="mb-1 text-muted">{{ position }}</div>
      <p class="card-text mb-auto">
          {{ pokemon.descripcion }}
        </p>
        <ul>
          <li *ngFor="let power of pokemon.powers">
            <span>{{power}}</span>
          </li>
        </ul>
     </div>
      <div class="card-img">
        <img
          src="https://cdn.pixabay.com/photo/2016/10/29/10/41/pokemon-go-1780414_960_720.png"
          class="img-fluid"
        />
      </div>
      <a href="" class="btn-danger" (click)="ir()">Elegir</a>
      <span *ngIf="pokemon.isSelected()">PREFERIDO</span>
</div>


